@mixin btn {
  font-size: 2rem;
  line-height: 27px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 1.5rem 2.5rem;
  border: 0;
  box-shadow: (0px 2px 10px rgba(0,0,0,0.3));
  transition: all .2s ease-out;
  outline: 0;

  &:hover {
    transform: translateY(-5px);
  }

  &:active {
    transform: translateY(5px);
  }
}

.wrapper {
  max-width: 1170px;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 9rem;
  color: #ffffff;
  font-weight: 700;
}
