.scroll-icon {
    position: absolute;
    border: 2px solid #000;
    bottom: 70px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 20px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    z-index: 10;
}

.scroll-icon:after {
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    animation-name: scroll-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll-animation;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: scroll-animation;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
}

/*scroll icon animation*/
@keyframes scroll-animation {
    0% {
        top: 0;
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        top: 30%;
        opacity: 1;
    }
    70% {
        top: 60%;
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes scroll-animation {
    0% {
        top: 0;
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        top: 30%;
        opacity: 1;
    }
    70% {
        top: 60%;
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes scroll-animation {
    0% {
        top: 0;
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        top: 30%;
        opacity: 1;
    }
    70% {
        top: 60%;
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-ms-keyframes scroll-animation {
    0% {
        top: 0;
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        top: 30%;
        opacity: 1;
    }
    70% {
        top: 60%;
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
/*scroll icon animation*/
